
    aside {
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-family: monospace;
        background-color: rgb(126, 124, 231);
      
      }
       
      body {
        background-color: rgb(24, 86, 179);
      }
       
  
      h1{
        font-family: monospace;
        
   
      }
  
      h2{
        font-family: monospace;
        width: 20%;
        border: 5px solid rgb(0, 0, 0);
        padding: 2px;
       
      }
      footer{
        font-family: monospace;
        padding: 5%;
        width: 500px;
        border: 5px solid rgb(0, 0, 0);
        padding: 20px;
        
      }
  
      p{
        font-family: monospace;
        padding: 4px;
      }



      figure{
        font-family: monospace;
        font-size: larger;
      }
  
  
  
  